*.iml
.gradle/*
/local.properties
.idea
 gradle
 app/build
 app/src/androidTest
 app/src/test
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
build.gradle
app.iml
proguard-rules.pro
.externalNativeBuild
.cxx
*.png
*.jpg
*.flat
